.main-game-cont{
    background-color: black;
    display: inline-block;
    margin:auto;
    padding: auto;
    width: 100%;
    text-align: center;

}
.all-cont{
    display: inline-block;
    }
.cont-1{
    background-color: mediumvioletred;
}
.cont-2{
    background-color: aqua;
}
.cont-3{
    background-color: darkgreen;
}
/*img{*/
    /*height:100px;*/
    /*width:100px;*/

/*}*/