.main-game-cont{
    background-color: black;
    display: flex;
    padding:50px;
    width: 300px;

}
.all-cont{
    display: inline-block;

    }
.cont-1{
    background-color: mediumvioletred;
}
.cont-2{
    background-color: aqua;
}
.cont-3{
    background-color: darkgreen;
}
/*img{*/
    /*height:100px;*/
    /*width:100px;*/

/*}*/